body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* Links */
a {
  color: #66b3ff;
  text-decoration: none;
  margin-right: 10px;
}

/* Título */
h1 {
  color: rgb(0, 0, 0);
}

/* Botões */
button {
  padding: 10px 15px;
  margin: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: rgb(9, 83, 194);
  color: rgb(255, 255, 255);
}

.cart-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  overflow-y: auto;
  transition: 0.3s;
}